@import url("./components/App/app.css");
@import url("./components/ComicBook/comic-book.css");
@import url("./components/ComicBookList/comic-book-list.css");
@import url("./components/Header/header.css");
@import url("./components/Login/login.css");
@import url("./components/Signup/signup.css");
@import url("./components/ComicSelector/comic-selector.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(92, 32, 32, 0.5);
}
